footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: #342626;
    color: white;
    gap: 20px;
  }

  footer img {
    height: 30px;
    width: 30px;
    background-color: #f8f8f8;
    border-radius: 6px;
}

footer a, p{
        font-size: 15px;
        color: #f8f8f8;
        text-decoration: none;
      }